<% include partials/header %>
<% include partials/navbar %>
<div class="col-md-6">
    <% if(defaults.includes('spotify')){ %>
        <iframe id='spotify' src="https://open.spotify.com/embed?uri=spotify:user:nick.lobosco:playlist:3YjhCl7tZtnNDIs4OXZAaP" frameborder="0" allowtransparency="true"></iframe>
    <% } %>

    <% if(address){ %>
        <h2>Displaying data for: <%= address['locality']%>, <%= address['adminDistrict'] %></h2>
    <% } %>

     <form action="/zip" method="post">
        <label>Change Current Zipcode:</label>
        <input type="text" name="zip">
        <% if(!correctZip){ %>
            <h3 class='error_message'>Invalid Zip</h3>
        <% } %>
    </form>

    <%if(currentUser.zipcode){ %>
        <a href='/useDefaultZip'>Use Default Zipcode: <%= currentUser.zipcode %></a>
    <% } %>

    <% if(defaults.includes('traffic') && incidents){ %>
        <div>
            <h2 class='toggle'>Show Traffic:</h2>
            <div class='info'>
                <% if(incidents.length > 0){ %>
                    <% incidents.forEach(function(incident){ %>
                        <p> <%= incident.description %> </p>
                        <p class='incident'> road closed: <%= incident.roadClosed %> </p>
                        <p class='incident'>should be cleared up by: <%= new Date(parseInt(incident.end.substr(6,incident.end.length-8))).toLocaleString() %></p>
                    <% }) %>
                <% }else{ %>
                    <p>No traffic incidents to report</p>
                <% } %>
            </div>
        </div>
    <% } %>
        
    <% if(defaults.includes('weather') && weather){ %>
        <div>
            <h2 class='toggle'>Show Current Weather:</h2>
            <div class='info'>
                <p><%= weather['weather'][0]['description']%><img src='http://openweathermap.org/img/w/<%= weather['weather'][0]['icon']%>.png'></img></p>
                <p>temp: <%= weather['main']['temp'] %> </p>
                <p>humidity: <%= weather['main']['humidity'] %>%</p>
                <p>wind speed: <%= weather['wind']['speed'] %> mph</p>
                <p>Sunset: <%= new Date(weather['sys']['sunset']).toLocaleTimeString() %></p>
            </div>
        </div>
    <% } %>

    <% if(defaults.includes('forecast') && forecast){ %>
        <div>
            <h2 class='toggle'>Show 5 Day Forecast:</h2>
            <div class='info'>
                <% var max, count = 0; %>
                <% for(var i=0;i<5;i++){ %>
                    <div class='forecastDate'>
                        <h3><%=new Date(forecast[count]['dt_txt']).toDateString()%></h3>
                        <% max = (i == 0 ? forecast.length-32 : count+8); %>
                        <% while(count<max){ %>
                            <p> <%=new Date(forecast[count]['dt_txt']).toLocaleTimeString()%>: </p>
                            <div style="margin-left: 20px; background-image: url('http://openweathermap.org/img/w/<%= forecast[count]['weather'][0]['icon']%>.png'); background-size: 50% 100%; background-repeat: no-repeat;">
                                <p> <%= forecast[count]['weather'][0]['description']%></p>
                                <p> temp: <%=forecast[count]['main']['temp']%></p>
                                <p> humidity: <%=forecast[count]['main']['humidity']%>%</p>
                            </div>
                            <% count++; %>
                    <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>

    <% if(defaults.includes('todos')){ %>
        <h2 class='toggle'>To-Dos:</h3>
        <div class='info' style="display: block">
            <ul>
                <% currentUser.todos.forEach(function(todo){ %>
                    <li class='todo'><%= todo %><i class="fa fa-times" aria-hidden="true"></i></li>
                    <form action='/removeTodo' method='post'>
                        <input type="text" name="todo" value=<%=todo%> hidden> 
                    </form>
                <% }); %>    
            </ul>
            <form action='/newTodo' method='post'>
                <input type="text" name="todo" placeholder="new todo">
            </form>
        </div>
    <% } %>
</div> 

<div class='col-md-6'>
    <% if(defaults.includes('news')){ %>
        <h2>Current News: </h2>
        <% articles.forEach(function(article, index){ %>
            <% if(index%4==0){ %>
                <div class="row" style='display: flex; flex-wrap: wrap'>
            <% } %>
                    <div class="col-md-3" style='padding: 3px;'>
                        <div class="thumbnail">
                            <a href="<%= article['article']['url']%>">
                                <img src="<%= article['article']['urlToImage']%>">
                                <div class='caption'>
                                    <p><%= article['article']['title']%></p>
                                    <p><%= article['source']%></p>
                                </div>
                            </a>
                        </div>
                    </div>
            <% if(index%4+1==0){ %>
                </div>
            <% } %>
        <% }); %>
    <% }%>
</div>

<script type="text/javascript" src='/toggle.js'></script> 
