<% include partials/header %>
<div class="col-md-6">
    <iframe id='spotify' src="https://open.spotify.com/embed?uri=spotify:user:nick.lobosco:playlist:3YjhCl7tZtnNDIs4OXZAaP" frameborder="0" allowtransparency="true"></iframe>
    <form action="/zip" method="post">
        <input type="text" name="zip" placeholder="zip code">
        <% if(!correctZip){ %>
            <h3 class='error_message'>Invalid Zip</h3>
        <% } %>
    </form>
    <% if(username){ %>
        <a href='/useDefaultZip'>use default zipcode</a>
    <% } %>


    <% if(locality){ %>
        <h2>Displaying data for <%= locality %></h2>    
    <% } %>

    <% if(incidents){ %>
        <h2 class='toggle'>Traffic></h2>
        <div class='info'>
            <% if(incidents.length > 0){ %>
                <% incidents.forEach(function(incident){ %>
                    <p> <%= incident.description %> </p>
                    <p class='incident'> road closed: <%= incident.roadClosed %> </p>
                    <p class='incident'>should be cleared up by: <%= new Date(parseInt(incident.end.substr(6,incident.end.length-8))).toLocaleString() %></p>
                <% }) %>
            <% }else{ %>
                <p>No traffic incidents to report</p>
            <% } %>
        </div>
    <% } %>
        
    <% if(weather){ %>
        <h2 class='toggle'>Current Weather></h2>
        <div class='info'>
            <p><%= weather['weather'][0]['description']%><img src='http://openweathermap.org/img/w/<%= weather['weather'][0]['icon']%>.png'></img></p>
            <p>temp: <%= weather['main']['temp'] %> </p>
            <p>humidity: <%= weather['main']['humidity'] %>%</p>
            <p>wind speed: <%= weather['wind']['speed'] %> mph</p>
            <p>Sunset: <%= new Date(weather['sys']['sunset']).toLocaleTimeString() %></p>
        </div>
    <% } %>

    <% if(forecast){ %>
        <h2 class='toggle'>5 Day Forecast></h2>
        <div class='info'>
            <% var max, count = 0; %>
            <% for(var i=0;i<5;i++){ %>
                <div class='forecastDate'>
                    <h3><%=new Date(forecast[count]['dt_txt']).toDateString()%></h3>
                    <% max = (i == 0 ? forecast.length-32 : count+8); %>
                    <% while(count<max){ %>
                        <p> <%=new Date(forecast[count]['dt_txt']).toLocaleTimeString()%>: </p>
                        <div style="margin-left: 20px; background-image: url('http://openweathermap.org/img/w/<%= forecast[count]['weather'][0]['icon']%>.png'); background-size: 50% 100%; background-repeat: no-repeat;">
                            <p> <%= forecast[count]['weather'][0]['description']%></p>
                            <p> temp: <%=forecast[count]['main']['temp']%></p>
                            <p> humidity: <%=forecast[count]['main']['humidity']%>%</p>
                        </div>
                        <% count++; %>
                <% } %>
                </div>
            <% } %>
        </div>
    <% } %>
</div>  
<div class='col-md-6'>
    <% if(todos){ %>
        <h2 class='toggle'>To-Dos></h3>
        <div class='info'>
            <ul>
                <% todos.forEach(function(todo){ %>
                    <li class='todo'><%= todo %><i class="fa fa-times" aria-hidden="true"></i></li>
                    <form action='/removeTodo' method='post'>
                        <input type="text" name="todo" value=<%=todo%> hidden> 
                    </form>
                <% }); %>    
            </ul>
            <form action='/newTodo' method='post'>
                <input type="text" name="todo" placeholder="new todo">
            </form>
        </div>
    <% } %>
</div>

<script type="text/javascript" src='/toggle.js'></script> 

