<% include partials/header %>
<h1>Settings:</h1>
<% if(currentUser.zipcode){ %>
	<h3>Default Zipcode: <%= currentUser.zipcode %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h3>
<% }else{ %>
	<h3>No Default Zipcode <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h3>
<% } %>
<form id='zipEditForm' action="/settings" method='post' style="display: <%= correctDefaultZip ? 'none' : 'block' %>">
	<% if(!correctDefaultZip){ %>
		<p class='error_message'>incorrect zip code</p>
	<% } %>
	<label>Enter New Default Zipcode: </label>
	<input type="text" name="zip">
</form>

<form id='defaults' action='/defaults' method='post'>
	<h3>Choose which elements to display on homepage: </h3>
	<div style='margin-left: 30px'>
		<h4 class="default"><label>traffic</label> <input type="checkbox" name="traffic" <%= Object.keys(currentUser.defaults).includes('traffic')?'checked':""%> ></h4>
		<h4><label>weather</label> <input type="checkbox" name="weather" <%= Object.keys(currentUser.defaults).includes('weather')?'checked':""%> ></h4>
		<h4><label>forecast</label> <input type="checkbox" name="forecast" <%= Object.keys(currentUser.defaults).includes('forecast')?'checked':""%> ></h4>
		<h4><label>todos</label> <input type="checkbox" name="todos" <%= Object.keys(currentUser.defaults).includes('todos')?'checked':""%>></h4>
		<h4><label>spotify</label> <input type="checkbox" name="spotify" <%= Object.keys(currentUser.defaults).includes('spotify')?'checked':""%>></h4>
		<input type="submit">
	</div>
</form>

<script>
	document.querySelector('.fa-pencil-square-o').addEventListener('click', function(){
		var form = document.getElementById('zipEditForm');
		form.style.display = (form.style.display == 'block' ? 'none' : 'block');
	});
</script>